.input {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 48px;
    background: linear-gradient(180deg, #2C3059 22.08%, #393E73 112.93%);    
    color: #fff;
    padding-block: 3%;
    padding-inline: 5%;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 400px) {
    .input {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 24px;
        background: linear-gradient(180deg, #2C3059 22.08%, #393E73 112.93%);    
        color: #fff;
        padding-block: 3%;
        padding-inline: 5%;
        overflow-wrap: anywhere;
    }
}